.menu__item{
    display: inline-block;
}

.menu__button{
    margin: 10px;
}

.menu__button:active{
    border: none;
}

.text{
    display: none;
    list-style: none;
    padding: 15px;
    border: 1px solid grey;
}

.show{
    display: block;
}

.text__box{
    position: relative;
    margin-bottom: 50px;
    background-color: gainsboro;
    font-family: "Calibri Light";
}

label{
    display: block;
    margin: 20px;
    position: relative;
}

label span{
    display: inline-block;
    width: 80px;
}

.tooltip{
    display: none;
    position: absolute;
    top: -6px;
    left: 245px;
    border: 1px solid grey;
    box-shadow: 0 0 3px rgb(0,0,0);
    padding: 5px;
    border-radius: 3px;
}

button{
    margin-left: 100px;
}